<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Create a new chat room!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				SUKA Chat
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<h1 style="text-align: center;">Tugas Pemrograman Jaringan</h1>
				<h3 style="text-align: center;">Aplikasi Chatting Online</h3>
				<p>&nbsp;</p>
				<h3 style="text-align: center;">Oleh: Kelompok IV</h3>
				<p style="text-align: center;">Yuha Bani Mahardika (13651052)<br />Riski Dewantara (13651073)<br />Bibita Habibi Mustafa (13651074)<br />Muhammad Fahroni (13651092)<br />Alfi Rohmatin Chasanah (13651099)</p>
				<p style="text-align: center;">Aplikasi chatting ini dibuat menggunakan bahasa pemrograman javascript <br />dengan library <strong>socket.io</strong> yang berjalan pada server <strong>NodeJS</strong></p>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

		</div>

	</section>

</body>
</html>
